*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #667080;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.circle {
    height: 240px;
    width: 240px;
    position: relative;
}

.outer{
    height: 240px;
    width: 240px;
    border-radius: 50%;
    padding: 30px;
    background-color: #939aa5;
}

.inner {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #667080;
}

#number{
    font-weight: 600;
    color: #ffffff;
}

circle {
    fill: none;
    stroke: #ffffff;
    height: 100%;
    width: 100%;
    stroke-width: 28px;
    /* stroke-dasharray => .outer-width *2 + .inner-height */
    stroke-dasharray: 660;
    stroke-dashoffset: 660;
    animation: anim 2s linear forwards;
}

svg{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
    width: 240px;
    height: 240px;
}
