*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #667080;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    padding: 2rem;
}

.circle {
    width: 70%;
    height: 70%;
    position: relative;
}

.outer{
    height: 280px;
    width: 280px;
    border-radius: 50%;
    padding: 30px;
    background-color: #939aa5;
}

.inner {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #667080;
}

#number{
    font-weight: 600;
    color: #ffffff;
}

circle {
    fill: none;
    stroke: #ffffff;
    height: 100%;
    width: 100%;
    stroke-width: 30px;
    /* stroke-dasharray => .outer-width *2 + .inner-height */
    stroke-dasharray: 780;
    stroke-dashoffset: 780;
    animation: anim 2s linear forwards;
}

svg{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
    width: 280px;
    height: 280px;
}

/* @keyframes anim {
    0% {
        stroke-dashoffset: 440;
    }
    100%{
        stroke-dashoffset: 236;
    }
} */